s
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login page</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='authstyle.css')}}">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    <section>
        <div class="colour"></div>
        <div class="colour"></div>
        <div class="colour"></div>
        <div class="box">
            <div class="square" style="--i: 0"></div>
            <div class="square" style="--i: 1"></div>
            <div class="square" style="--i: 2"></div>
            <div class="square" style="--i: 3"></div>
            <div class="square" style="--i: 4"></div>
            <div class="container">
                <div class="form">
                    <h2>Login Form</h2>
                    <form>
                        <div class="input__box">
                            <input type="text" placeholder="Username" />
                        </div>
                        <div class="input__box">
                            <input type="password" placeholder="Password" />
                        </div>
                        <div class="input__box">
                            <!-- <input type="submit" value="Login" /> -->
                            <a href="dashboard.html"><button button="btn btn-primary">Login</button></a>
                        </div>
                        <p class="forget">
                            Forgot Password? <a href="#">Click Here</a>
                        </p>
                        <p class="forget">
                            Don't have an account? <a href="signup">Sign Up</a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>

</html>